<section class="section summary-section">
  <h2 class="section-title"><i class="fa fa-info"></i>About me</h2>
  <div class="summary">
    <p>
      I have been a research assistant and PhD student at <a href="http://www-i2.informatik.rwth-aachen.de/lufgi2">Lehr- und Forschungsgebiet Informatik 2</a> since August 2013.
      I am one of the main developers of the <a href="http://aprove.informatik.rwth-aachen.de/">Automated Program Verification Environment (AProVE)</a> tool.
      Moreover, the techniques presented in our paper "Lower Runtime Bounds for Integer Programs" are implemented in the freely available <a href="https://github.com/aprove-developers/LoAT">Lower bounds Analysis Tool (LoAT)</a>.
      My fields of interest include (but are not limited to):
      <ul>
        <li>automated termination and complexity analysis of</li>
        <ul>
          <li>heap-manipulating imperative programs with a focus on Java Bytecode</li>
          <li>term rewriting systems</li>
          <li>integer programs</li>
        </ul>
        <li>abstract interpretation and symbolic evaluation</li>
        <li>program verification</li>
      </ul>
    </p>
  </div><!--//summary-->
</section><!--//section-->
