<section class="section summary-section">
  <h2 class="section-title"><i class="fa fa-info"></i>About me</h2>
  <div class="summary">
    <p>
      I have been a research assistant and PhD student at <a href="http://www-i2.informatik.rwth-aachen.de/lufgi2">Lehr- und Forschungsgebiet Informatik 2</a> since August 2013.
      I am one of the main developers of the <a href="http://aprove.informatik.rwth-aachen.de/">Automated Program Verification Environment (AProVE)</a> tool.
      Moreover, the techniques presented in our paper "Lower Runtime Bounds for Integer Programs" are implemented in the freely available <a href="https://github.com/aprove-developers/LoAT">Lower bounds Analysis Tool (LoAT)</a>.
      I am also actively developing <a href="http://www.draper.com/news/draper-s-cage-could-spot-code-vulnerable-denial-service-attacks">CAGE</a>, a toolchain which builds on top of AProVE and LoAT to find and prove the absence of denial of service attacks in Java programs.
      CAGE is joint work of <a href="http://draper.com/">Draper</a>, the University of Innsbruck, and our research group and is developed within the <a href="https://www.darpa.mil/program/space-time-analysis-for-cybersecurity">DARPA STAC</a> program.
    </p>
    <p>
      My fields of interest include (but are not limited to):
      <ul>
        <li>automated termination and complexity analysis of</li>
        <ul>
          <li>heap-manipulating imperative programs with a focus on Java Bytecode</li>
          <li>term rewriting systems</li>
          <li>integer programs</li>
        </ul>
        <li>abstract interpretation and symbolic evaluation</li>
        <li>program verification</li>
      </ul>
    </p>
    <p>
      For a rough overview of my research, have a look at <a href="./poster.pdf">this poster</a> and the corresponding <a href="./abstract_poster.pdf"> extended abstract</a>.
    </p>
  </div><!--//summary-->
</section><!--//section-->
