<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-newspaper-o"></i>Publications</h2>
  <details>
    <summary>Show / Hide</summary>

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Complexity Analysis for Java with AProVE</h3>
          <div class="time">2017</div>
        </div><!--//upper-row-->
        <div class="authors">F. Frohn and J. Giesl</div>
        <div class="appeared">
          In Proceedings of the 13th International Conference on integrated Formal Methods
          (iFM '17),
          Turin,
          Italy,
          Lecture Notes in Computer Science 10510, pages 85-101.
          ©<a href="http://www.springer.de/comp/lncs/index.html">Springer-Verlag</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="https://link.springer.com/chapter/10.1007/978-3-319-66845-1_6">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/IFM17.pdf">Preliminary Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/IFM17Report.pdf">Extended Version</a> appeared as Technical Report AIB-2017-04, RWTH Aachen, Germany</li>
          <li><a href="./jbc_complexity_slides_ifm.pdf">Slides</a> of a related talk</li>
          <li><a href="https://aprove-developers.github.io/jbc-complexity/">Homepage</a></li>
          <li>DOI 10.1007/978-3-319-66845-1_6</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Complexity Analysis for Term Rewriting by Integer Transition Systems</h3>
          <div class="time">2017</div>
        </div><!--//upper-row-->
        <div class="authors">M. Naaf, F. Frohn, M. Brockschmidt, C. Fuhs, and J. Giesl</div>
        <div class="appeared">
          In Proceedings of the 11th International Symposium on Frontiers of Combining Systems
          (FroCoS '17),
          Brasilia,
          Brazil,
          Lecture Notes in Artificial Intelligence 10483, pages 132-150.
          ©<a href="http://www.springer.de/comp/lncs/index.html">Springer-Verlag</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="https://link.springer.com/chapter/10.1007/978-3-319-66167-4_8">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/FroCoS17.pdf">Preliminary Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/FroCoS17Report.pdf">Extended Version</a> appeared as Technical Report AIB-2017-05, RWTH Aachen, Germany</li>
          <li><a href="./rc_via_its_slides.pdf">Slides</a> of a related talk</li>
          <li><a href="https://aprove-developers.github.io/trs_complexity_via_its/">Homepage</a></li>
          <li>DOI 10.1007/978-3-319-66167-4_8</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Analyzing Runtime Complexity via Innermost Runtime Complexity</h3>
          <div class="time">2017</div>
        </div><!--//upper-row-->
        <div class="authors">F. Frohn and J. Giesl</div>
        <div class="appeared">
          In Proceedings of the 21st International Conference on Logic for Programming, Artificial Intelligence and Reasoning
          (LPAR '17),
          Maun,
          Botswana,
          <a href="http://easychair.org/publications/EPiC/Computing">EPiC Series in Computing</a> 46,
          pages 249-268.
          <a href="http://www.easychair.org/publications/">EasyChair</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="https://easychair.org/publications/paper/340352">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/LPAR17Report.pdf">Extended Version</a> appeared as Technical Report AIB-2017-02, RWTH Aachen, Germany</li>
          <li><a href="./rc_via_irc_slides.pdf">Slides</a> of a related talk</li>
          <li><a href="https://aprove-developers.github.io/complexityFullRewriting/">Homepage</a></li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Lower Bounds for Runtime Complexity of Term Rewriting</h3>
          <div class="time">2017</div>
        </div><!--//upper-row-->
        <div class="authors">F. Frohn, J. Giesl, J. Hensel, C. Aschermann, and T. Ströder</div>
        <div class="appeared">Journal of Automated Reasoning, , 59(1):121-163. ©<a href="http://www.springer.de/comp/lncs/index.html">Springer-Verlag</a></div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="http://link.springer.com/article/10.1007/s10817-016-9397-x">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/JARLowerBoundsRewriting.pdf">Preliminary Version</a></li>
          <li><a href="./decreasing_loops_slides.pdf">Slides</a> of a related talk</li>
          <li><a href="http://aprove.informatik.rwth-aachen.de/eval/lowerbounds-journal/">Homepage</a></li>
          <li>DOI 10.1007/s10817-016-9397-x</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">AProVE: Proving and Disproving Termination of Memory-Manipulating C Programs (Competition Contribution)</h3>
          <div class="time">2017</div>
        </div><!--//upper-row-->
        <div class="authors">J. Hensel, F. Emrich, F. Frohn, T. Ströder, and J. Giesl</div>
        <div class="appeared">
          In Proceedings of the 23rd International Conference on Tools and Algorithms for the Construction and Analysis of Systems (TACAS '17),
          Uppsala, Sweden,
          Lecture Notes in Computer Science 10206, pages 350-354.
          ©<a href="http://www.springer.de/comp/lncs/index.html">Springer-Verlag</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="http://link.springer.com/chapter/10.1007/978-3-662-54580-5_21">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/SVCOMP2017.pdf">Preliminary Version</a></li>
          <li>DOI 10.1007/978-3-662-54580-5_21</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Analyzing Program Termination and Complexity Automatically with AProVE</h3>
          <div class="time">2017</div>
        </div><!--//upper-row-->
        <div class="authors">J. Giesl, C. Aschermann, M. Brockschmidt, F. Emmes, F. Frohn, C. Fuhs, J. Hensel, C. Otto, M. Plücker, P. Schneider-Kamp, T. Ströder, S. Swiderski, and R. Thiemann.</div>
        <div class="appeared">
          Journal of Automated Reasoning, 58(1):3-31.
          ©<a href="http://www.springer.de/comp/lncs/index.html">Springer-Verlag</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="http://link.springer.com/article/10.1007/s10817-016-9388-y">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/JAR-AProVE.pdf">Preliminary Version</a></li>
          <li>DOI 10.1007/s10817-016-9388-y</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Automatically Proving Termination and Memory Safety for Programs with Pointer Arithmetic</h3>
          <div class="time">2017</div>
        </div><!--//upper-row-->
        <div class="authors">T. Ströder, J. Giesl, M. Brockschmidt, F. Frohn, C. Fuhs, J. Hensel, P. Schneider-Kamp, and C. Aschermann</div>
        <div class="appeared">
          Journal of Automated Reasoning, 58(1):33-65.
          ©<a href="http://www.springer.de/comp/lncs/index.html">Springer-Verlag</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="http://link.springer.com/article/10.1007%2Fs10817-016-9389-x">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/JARLLVM.pdf">Preliminary Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/LLVMreport.pdf">Extended Version</a> appeared as Technical Report AIB-2016-09, RWTH Aachen, Germany</li>
          <li><a href="http://aprove.informatik.rwth-aachen.de/eval/PointerJournal/">Homepage</a></li>
          <li>DOI 10.1007/s10817-016-9389-x</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Lower Runtime Bounds for Integer Programs</h3>
          <div class="time">2016</div>
        </div><!--//upper-row-->
        <div class="authors">F. Frohn, M. Naaf, J. Hensel, M. Brockschmidt, and J. Giesl</div>
        <div class="appeared">
          In Proceedings of the 8th International Joint Conference on Automated Reasoning (IJCAR '16),
          Coimbra, Portugal,
          Lecture Notes in Artificial Intelligence 9706, pages 550-567.
          ©<a href="http://www.springer.de/comp/lncs/index.html">Springer-Verlag</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="http://link.springer.com/chapter/10.1007/978-3-319-40229-1_37">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/IJCAR2016.pdf">Preliminary Version</a></li>
          <li><a href="http://sunsite.informatik.rwth-aachen.de/Publications/AIB/2016/2016-03.pdf">Extended Version</a> appeared as Technical Report AIB-2016-03, RWTH Aachen, Germany</li>
          <li><a href="./lower_bounds_its_slides.pdf">Slides</a> of a related talk</li>
          <li><a href="http://aprove.informatik.rwth-aachen.de/eval/integerLower/">Homepage</a></li>
          <li>DOI 10.1007/978-3-319-40229-1_37</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Proving Termination of Programs with Bitvector Arithmetic by Symbolic Execution</h3>
          <div class="time">2016</div>
        </div><!--//upper-row-->
        <div class="authors">J. Hensel, J. Giesl, F. Frohn, and T. Ströder</div>
        <div class="appeared">
          In Proceedings of the 14th International Conference on Software Engineering and Formal Methods (SEFM '16),
          Vienna, Austria,
          Lecture Notes in Computer Science 9763, pages 234-252.
          ©<a href="http://www.springer.de/comp/lncs/index.html">Springer-Verlag</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="http://link.springer.com/chapter/10.1007/978-3-319-41591-8_16">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/SEFM16.pdf">Preliminary Version</a></li>
          <li><a href="http://sunsite.informatik.rwth-aachen.de/Publications/AIB/2016/2016-04.pdf">Extended Version</a> appeared as Technical Report AIB-2016-04, RWTH Aachen, Germany</li>
          <li><a href="http://aprove.informatik.rwth-aachen.de/eval/Bitvectors/">Homepage</a></li>
          <li>DOI 10.1007/978-3-319-41591-8_16</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Inferring Lower Bounds for Runtime Complexity</h3>
          <div class="time">2015</div>
        </div><!--//upper-row-->
        <div class="authors">F. Frohn, J. Giesl, J. Hensel, C. Aschermann, and T. Ströder</div>
        <div class="appeared">
          In Proceedings of the 26th International Conference on Rewriting Techniques and Applications (RTA '15),
          Warsaw, Poland,
          <a href="http://www.dagstuhl.de/en/publications/lipics/">LIPIcs Leibniz International Proceedings in Informatics</a> 36,
          pages 334-349. Dagstuhl Publishing</div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="http://drops.dagstuhl.de/opus/volltexte/2015/5206/">Final Version</a></li>
          <li><a href="http://sunsite.informatik.rwth-aachen.de/Publications/AIB/2015/2015-05.pdf">Extended Version</a> appeared as Technical Report AIB-2015-05, RWTH Aachen, Germany</li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/talkLowerBounds.pdf">Slides</a> of a related talk by J. Giesl</li>
          <li><a href="http://aprove.informatik.rwth-aachen.de/eval/lowerbounds/">Homepage</a></li>
          <li>DOI 10.4230/LIPIcs.RTA.2015.334</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">AProVE: Termination and Memory Safety of C Programs (Competition Contribution)</h3>
          <div class="time">2015</div>
        </div><!--//upper-row-->
        <div class="authors">T. Ströder, C. Aschermann, F. Frohn, J. Hensel, and J. Giesl</div>
        <div class="appeared">
          In Proceedings of the 21st International Conference on Tools and Algorithms for the Construction and Analysis of Systems (TACAS '15),
          London, UK,
          Lecture Notes in Computer Science 9035,
          pages 417-419.
          ©<a href="http://www.springer.de/comp/lncs/index.html">Springer-Verlag</a></div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="http://link.springer.com/chapter/10.1007/978-3-662-46681-0_32">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/SVCOMP2015.pdf">Preliminary Version</a></li>
          <li>DOI 10.1007/978-3-662-46681-0_32</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Proving Termination and Memory Safety for Programs with Pointer Arithmetic</h3>
          <div class="time">2014</div>
        </div><!--//upper-row-->
        <div class="authors">T. Ströder, J. Giesl, M. Brockschmidt, F. Frohn, C. Fuhs, J. Hensel, and P. Schneider-Kamp</div>
        <div class="appeared">
          In Proceedings of the 7th International Joint Conference on Automated Reasoning (IJCAR '14),
          Vienna, Austria,
          Lecture Notes in Artificial Intelligence 8562, pages 208-223, 2014.
          ©<a href="http://www.springer.de/comp/lncs/index.html">Springer-Verlag</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="http://link.springer.com/chapter/10.1007/978-3-319-08587-6_15">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/IJCAR14-LLVM.pdf">Preliminary Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/aib-2014-05.pdf">Extended Version</a> appeared as Technical Report AIB-2014-05, RWTH Aachen, Germany</li>
          <li><a href="http://aprove.informatik.rwth-aachen.de/eval/Pointer/">Homepage</a></li>
          <li>DOI 10.1007/978-3-319-08587-6_15</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Proving Termination of Programs Automatically with AProVE</h3>
          <div class="time">2014</div>
        </div><!--//upper-row-->
        <div class="authors">J. Giesl, M. Brockschmidt, F. Emmes, F. Frohn, C. Fuhs, C. Otto, M. Plücker, P. Schneider-Kamp, T. Ströder, S. Swiderski, and R. Thiemann</div>
        <div class="appeared">
          In Proceedings of the 7th International Joint Conference on Automated Reasoning (IJCAR '14),
          Vienna, Austria,
          Lecture Notes in Artificial Intelligence 8562, pages 184-191, 2014.
          ©<a href="http://www.springer.de/comp/lncs/index.html">Springer-Verlag</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="http://link.springer.com/chapter/10.1007/978-3-319-08587-6_13">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/IJCAR14-AProVE.pdf">Preliminary Version</a></li>
          <li>DOI 10.1007/978-3-319-08587-6_13</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->
  </details>
</section><!--//section-->
